
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>  </title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/core.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/components.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/colors.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/arfont/font.css" rel="stylesheet" type="text/css" />
	<link href="/admin_assets/css/main.css" rel="stylesheet" type="text/css" />
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/admin_assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/admin_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/admin_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/plugins/forms/styling/switch.min.js"></script>
	<script type="text/javascript" src="/admin_assets/js/main.js"></script>
	<script type="text/javascript" src="/admin_assets/js/core/app.js"></script>


    <!-- check for javascript -->
    <noscript>
        <meta http-equiv="refresh" content="0; url=/afrass/public/javascript-Disabled" />
    </noscript>


</head>



<body class="login-container">
<div class="page-container login-container">
<div class="page-content">
    <div class="content-wrapper">
        <div class="col-lg-6 col-lg-offset-3">
              
              <div class="alert alert-danger errorbox" style="display:none;"></div>

           <div id="result"></div>
           
                  
                  
                  
                  
                  
                  
                  
                  
                  
                   <div class="panel panel-body  border-top-xlg border-top-teal " id="step1">
                    <h2>قاعدة البيانات</h2>


       <p>مرحبا بك في لوحة التحكم. قبل الشروع في العمل، نحن بحاجة لبعض المعلومات عن قاعدة البيانات..</p>

<p>أدخل بيانات الاتصال بقاعدة البيانات. إذا كنت غير متأكد، يمكنك التواصل مع الشركة المستضيفة لموقعك للاستفسار عن هذه البيانات.</p>                            
                            <br><br>
                            <div class="form-group">
                                <label for="database_host" class="col-sm-4 control-label">اسم المستضيف <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control frequired" name="database_host" id="database_host" placeholder="" value="localhost">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="database_name" class="col-sm-4 control-label">اسم قاعدة البيانات<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control frequired" name="database_name" id="database_name"  value="اسم قاعدة البيانات">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="database_username" class="col-sm-4 control-label">اسم المستخدم  <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control frequired" name="database_username" id="database_username" value="اسم المستخدم ">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="database_pwd" class="col-sm-4 control-label">كلمة المرور<span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" name="database_pwd" id="database_pwd"  value="كلمة المرور">
                                </div>
                            </div>
                                                     <br><br>
                            <div class="form-group">
                                <a type="submit" id="submitstep1" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class=" icon-arrow-left7"></i></b>  متابعة  </a>
                            </div>
                </div>
                
                
                <div class="panel panel-body  border-top-xlg border-top-red " id="step2" style="display:none;">       
                     <h2>معلومات الموقع والمدير</h2>       
                      <p>الرجاء إدخال المعلومات التالية وتذكرها بشكل جيد ، لا تقلق ... تستطيع تغيير هذه المعلومات لاحقاً.</p>
                                            <br><br>
                                             <br><br>
                                            <div class="form-group">
                                <label for="admin_username" class="col-sm-4 control-label">اسم الموقع <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control required" name="admin_username" id="website_name" >                                </div>
                            </div>    <br><br>                        
                            <div class="form-group">
                                <label for="admin_username" class="col-sm-4 control-label">اسم المدير <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control required" name="admin_username" id="admin_username" value="Admin">
                                </div>
                            </div> <br><br>
                            <div class="form-group">
                                <label for="admin_email" class="col-sm-4 control-label">البريد الإلكتروني للمدير <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control required" name="admin_email" id="admin_email" placeholder="Required Field..">
                                </div>
                            </div> <br><br>
                            <div class="form-group">
                                <label for="admin_pwd" class="col-sm-4 control-label" id="password">كلمة المرور <span class="text-danger">*</span></label>
                                <div class="col-sm-7">
                                    <input class="form-control " type="password" name="admin_pwd" id="admin_pwd" placeholder="Required Field..">
                                </div>
                            </div>
                                                     <br><br>
                            <div class="form-group">
                                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class=" icon-arrow-left7"></i></b>  متابعة  </button>
                            </div>
                </div>
                
                
                
                <div class="panel panel-body  border-top-xlg border-top-red " id="step3" style="display:none;">       
                      <p>رائع! لقد قمت بإنجاز المطلوب في هذا الجزء من مرحلة التنصيب. إذا كنت جاهزًا، يمكنك الآن…

.</p>
                                      
                           
                                                     <br>
                            <div class="form-group">
                                <a type="submit" id="instll_now" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class=" icon-arrow-left7"></i></b>  البدء بعملية التنصيب  </a>
                            </div>
                </div>
                
                
                
                <div class="panel panel-body  border-top-xlg border-top-red " id="step4" style="display:none;">       
                     
                     <h2>تم بنجاح !</h2><hr>
                     <p>تم تنصيب لوحة التحكم بنجاح. شكرًا لك، ونأمل أن تستمتع بموقعك الجديد!</p>
                                     <br>
                                      <table class="table table-borderless">
                                      
	<tbody><tr>
		<th>اسم المستخدم</th>
		<td>admin</td>
	</tr>
	<tr>
		<th>كلمة المرور</th>
		<td>			<p><em>1234.</em></p>
		</td>
	</tr>
</tbody></table>
                           
                                                     <br>
                            <div class="form-group">
                                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-arrow-left7"></i></b>  دخول </button>
                            </div>
                </div>
                
                
            <center>
                <a href="" class="text-center text-muted">جميع الحقوق محفوظة © كاينون 2018</a>
                </center>
        </div>
    </div>
</div>
</div>


<style>.errorFiled { border-color: #e0493e; }</style>



<!-- المرحلة 1 -->
<script>
    
            jQuery(document).on('click', '#submitstep1', function(e){

             var res = true;
             // here I am checking for textFields, password fields, and any 
             // drop down you may have in the form
             $("#step1 .frequired").each(function() {
                 if($(this).val().trim() == "") {
                     res = false; 
                     $(this).addClass('errorFiled');
                 }else{
                     $(this).removeClass('errorFiled');
                 }
             })
             if(res == false){
                     $('.errorbox').show();
                 $('.errorbox').html("كل الحقول مطلوبة");
             }

            if(res == true){

                var formData = new FormData();

                var database_host = $('#database_host').val();
                var database_name = $('#database_name').val();
                var database_username = $('#database_username').val();
                var database_pwd = $('#database_pwd').val();

                formData.append('database_host',database_host);
                formData.append('database_name',database_name);
                formData.append('database_username',database_username);
                formData.append('database_pwd',database_pwd);

                

                $.ajax({
                type: 'POST',
                url: '/install.php',
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                 beforeSend: function(data) {
//                    $("#result").html('جاري التحقق ، المرجوا الإنتظار');
                },
                success: function(data) {
                    
                    if( data != 'startstep2'){
                        $("#result").html(data);
                    }
                    
                    if( data == 'startstep2'){
                        $('#step1').hide();
                        $('#step3').show();
                    }
                    
                    
                },
                error: function(data) {
                    $(".errorbox").html("حصل خطأ ما ، المرجوا المحاولة من جديد");
                }
                });
        }
    
});
    
</script>
<!-- المرحلة 1 -->




<!-- المرحلة 2 -->
<script>
    


            jQuery(document).on('click', '#instll_now', function(e){

                
 var formData = new FormData();

             
                formData.append('validate','install');
                

                

                $.ajax({
                type: 'POST',
                url: '/install.php',
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                 beforeSend: function(data) {
                        $("#result").html('<div class="alert alert-primary " ><i class="icon-spinner2 spinner"></i> جاري تثبيت قاعدة البيانات ، قد يستغرق الأمر بضع دقائق ، المرجوا الإنتظار </div>');
                      $('#instll_now').attr("disabled","disabled");
                     $("#step3").hide();
                     // disbale the button
                        
                        
                },
                success: function(data) {
                    
                    if( data != 'startstep4'){
                        $("#result").html(data);
                    }
                    
                    if( data == 'startstep4'){
                        $('#step3').hide();
                            $('#step4').show();
                        
                        $('#result').html(" ");
                        // hide the alert
                        
                    }
                    
                    
                },
                error: function(data) {
                    $(".errorbox").html("حصل خطأ ما ، المرجوا المحاولة من جديد");
                }
                });


});
    
</script>
<!-- المرحلة 2 -->














</body>
</html>