<script>
   
// add post editor to a page
if($('#posteditor').length){
   CKEDITOR.replace( 'posteditor', {
       language: '{{l.lang}}',
   });
}

// check all rows in a table
$( document ).ready(function() {
    $("#checkAllItems").change(function() {
            if(this.checked) {
                $('.Tableitem').prop('checked', true);
            }else{
                 $('.Tableitem').prop('checked', false);
            }
        });
 });


// collect the ids and submit the form of multiAction    
$("#multiActionForm").submit(function() {
     
    var TableItems = new Array();
    $('.Tableitem').each(function () {  
          if(this.checked) {
                TableItems.push($(this).data('item'));
          }
    });
    $('#ids').val(TableItems);
    $(this).submit();
});

    
// create and edit product pages
// add multiple video fileds and remove theme
$('#AddMoreProductVideos').click(function(){
        var morevide = '<div class="input-group videolist" style="margin-bottom: 15px"><span class="input-group-addon"><i class="icon-youtube"></i></span><input type="text" name="videos[]" class="form-control" placeholder="youtube link"><a><i class="icon-close2"></i></a></div>';  
        $( morevide ).insertBefore(this);
});

$('body').on('click', '.icon-close2' ,function(){
    $(this).closest('div').remove();
});

    
   
</script>




		
<!-- set the select -->		
<script> $('.areaUndetected').select2({ placeholder: 'تحديد تصنيف المنتوج',}); </script>


<!-- change the value of selected Country to user's country -->
<script> $(document).ready(function() { $(".areaUndetected").select2().val("{{product.categoryID}}").trigger("change") }); </script>		
	



<!-- حذف الصور -->
<script>
$("#deleteImage").click(function(){
        $("#isAdChanged").val("true");          // تعين الحقل بأنه تم التغيير
        $(".chosethumbnailBtn").show();         // اظهار الزر للرفع من جديد
        $("#product_thumbnail").remove();   // مسح الصورة القديمة
        $("#deleteImage").hide();               // اخفاء زر الحذف
});
</script>

<!-- تغيير الصورة الجديدة -->
<script>
$("#ProductThumbnail").change(function(){    
    $('.preview-thumbnail').html('<img src="" id="product_thumbnail" /> ');  // اضافة الصورة الجديدة
    $('.chosethumbnailBtn').hide();         // اخفاء زر اضافة صورة
    $("#deleteImage").show();               // اظهار زر حذف صورة
    readURL(this);                          // اظهار الصورة التي تم اختيارها
    $("#isAdChanged").val("true");          // جعل القيمة تم تغييره
});    
</script>







<!-- Alert Before Taking Danger Action -->
<script>
  swal({   
            title: "هل انتي متأكدة من الإلغاء",   
            text: "انتباه ، المرجوا الإنتباه جيداً قبل الإلغاء",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "نعم قم بالإلغاء",   
            cancelButtonText: "لا تراجع ",   
            closeOnConfirm: false,   
            closeOnCancel: false 
        }, function(isConfirm){   
            if (isConfirm) { 
               
            
                    swal("تم الإلغاء بنجاح!", "تم الغاء البيانات بنجاح.", "success");  
                
                 
                swal("تراجع", "كل شيء بأمان لم تحصل اية مشكلة  :)", "success");   
           
        });

</script>


                   



		
<script>
    
      
</script>

<!-- set the select -->		
<script> $('.postCategory').select2({ placeholder: 'تحديد تصنيف المنتوج',}); </script>


<!-- set the select -->		
<script> $('.postCategory').select2({ placeholder: 'تحديد تصنيف السؤال',}); </script>
<script> $(document).ready(function() { $(".postCategory").select2().val("{{content.category}}").trigger("change") }); </script>   



<!-- set the select -->		
<script> $('.postCategory').select2({ placeholder: 'تحديد تصنيف المنتوج',}); </script>

<!-- change the value of selected Country to user's country -->
<script> $(document).ready(function() { $(".postCategory").select2().val("{{content.categoryID}}").trigger("change") })</script>		