{% extends "admin/layout.twig" %}

{% block title %} تعديل طريقة الشحن {% endblock %}


{% block content %}
 
				<!-- Content area -->
				<div class="content">

				<!-- Page header -->
				<div class="page-header page-header-transparent">
					<div class="page-header-content">
						<div class="page-title">
							<h1> <span class="text-semibold">   تعديل طريقة الشحن  </span></h1>
						</div>
					</div>
				</div>
				<!-- /page header -->
			
                    

			        {% include "admin/elements/flash.twig" %}
<form action="{{ path_for('shipping.update',{ id : content.id}) }}" method="post"   class="form-horizontal">
<div class="col-md-8">								







<div class="panel panel-default">

<div class="panel-body">

       
        <div class="form-group">
            <label class="col-sm-3 control-label"><span> تفعيل طريقة الشحن </span></label>
            <div class="col-sm-9">
                <label class="adminswitch">
                <input name='statue' type="checkbox"  value="active" {% if content.statue  == 'active' %} checked="checked" {% endif %} />
                <span class="slider round"></span>
                </label>
            </div>
        </div>

       
       
        <div class="form-group">
            <label class="col-sm-3 control-label" > العنوان </label>
            <div class="col-sm-9">
                <input type="text" name="name" value='{{content.name}}' placeholder="عنوان طريقة الشحن"  class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span> قيمة الشحن </span></label>
            <div class="col-sm-9">
            <input type="text" name="cost" value='{{content.cost}}' placeholder="قيمة طريقة الشحن" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span> عدد ايام الشحن </span></label>
            <div class="col-sm-9">
            <input type="text" name="delivery_days" value='{{content.delivery_days}}' placeholder="عدد ايام الشحن" class="form-control">
            </div>
        </div>


</div>
</div>
</div>
 
 <div class="col-md-4">
<button type="submit" class="btn btn-block btn-primary">
تعديل طريقة الشحن  <i class="icon-arrow-left13 position-right"></i></button>



         
        <div class="panel" style="margin-top: 35px;">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>

											هل تحتاج مساعدة ؟
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>العنوان</b>
											<br>
											<p class="mg10">
											    عنوان طريقة الشحن ، مثلا DHL
											</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>قيمة الشحن </b>
											<br>
											<p class="mg10">هي سعر الشحن بهذه الطريقة ، المرجوا وضع الأرقام فقط .</p>
                                        </li>
						

									</ul>
								</div>                     
        </div>
 
            
        
            
            


<br>

 </div>
 </form>
 
</div>
<!-- /content area -->


{% endblock %}