<div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><a href="{{path_for('website.profile')}}">My account</a></li>
      <li class="list-group-item"><a href="{{path_for('website.password')}}">Password</a></li>
      <li class="list-group-item"><a href="{{path_for('website.shipping')}}">Adresses</a></li>
      <li class="list-group-item"><a href="{{path_for('website.orders')}}">orders</a></li>
    </ul>
</div>




