<html lang="ar">
<head>
<title>
    تجربة العنوان
</title>
</head>
<body style="text-align:right; direction:rtl; background:#3C3C3C;">
<div style="background:white; width:40%; margin:0 auto; border-radius:5px; overflow:hidden;">
    <div style="padding:50px 0; text-align:center; color:white; background:#FFDA0C;">soulaimane</div> 
<div style="padding:50px; 40px">
    <div style="line-height:35px;">
    مرحبا <b>سليمان</b>
    <br>
   شكرا لك على التسجيل في موقع دليل المغرب <br>
    لم يبق سوى خطوة واحدة ، وهي تفعيل بريدك الإلكتروني <br>
    إضغط على الزر أسفله لتفعيله 
    </div>
    <br>
    <a href="#" style="background:#83C358; display:inline-block; color:white; padding:15px 30px; text-decoration:none; margin-top:10px; border-radius:3px;" >تفعيل الحساب</a>
    <br>
    <p style="color:#666666;"> أو انسخ الرابط التالي ، والصقه في المتصفح  </p>
    <a href="#" style="color:#CDAE00; text-decoration:underline;">madalil.com/account/confirm/username</a>
    <br>
    <br>
    <p style="color:#666666;">إذا لم تقم بإنشاء الحساب ، فقط تجاهل الرسالة </p>
    <p style="color:#666666;">إدارة موقع دليل المغرب ، شكراً لك</p>
    <p style="color:#666666;">  </p>
    
</div>
</div> 
</body>
</html>