<html>
<head>
    <title>Email</title>
	<link rel="stylesheet" type="text/css" href="http://www.fontstatic.com/f=tanseek" />


    <meta charset="utf-8" />
    <style>
        *{
            margin: 0;
            padding: 0;
            outline: 0;
            text-decoration: none;
        }
    </style>
    
</head>
<body style='background: whitesmoke;'>
    
    
    
    <div class="boxemail" style="
width: 80%;
    margin: 20px auto;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: -2px -1px 27px -2px rgba(224,224,224,1);
    -moz-box-shadow: -2px -1px 27px -2px rgba(224,224,224,1);
    box-shadow: -2px -1px 27px -2px rgba(224,224,224,1);
    background: white;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: bottom;
">
        <div class="head" style="
	background: #26cad3;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-family: 'tanseek';
    font-size: 27px;
	
	
	
	
	
	
	
	
	
	
">مرحبا بك في  %site_name%</div>
        <div class="bodymail" style="
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
	padding-bottom: 40px;
    direction: rtl;
    line-height: 33px;
">
            
            مرحبا بك <b>%username%</b>
            <br>
            لقد تم تسجيلك في الموقع , وهذه بيانات التسجيل الخاصة بك : <br>
            
            <b>اسم المستخدم</b> :  %username% <br>
            <b>البريد الإكتروني </b> :   %email% <br>
            
            
        </div>
    </div>
    
    

    
    
    
    
    
    
    
    
    
    
    
    
</body>
</html>