	
{% extends "website/layout.twig" %}
{% block title %} Article {% endblock %}


{% block content %}


	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>About us</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="index.html" title="Sarahmarket 1" itemprop="url"><span itemprop="title">Home</span></a>
									</span>
									<span class="arrow-space">></span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="about.html" title="About us" itemprop="url"><span itemprop="title">About us</span></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page-content">
				<div class="page-wrapper">
					<div class="container">
						<div class="row">
							<div class="page-inner">
								<div id="shopify-section-about-template" class="shopify-section">
									<div class="about-content">
										<div class="information-content">
											<div class="information-image">
												<img class="image" src="assets/images/about_info1.jpg" alt="">
											</div>
											<div class="information-caption">
												<span class="title">Who are we?</span>
												<span class="content">
													Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
													<br>
													Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
												</span>
												<a class="btn" href="#">Read more</a>
											</div>
										</div>
										<div class="feature-content layout_content">
											<div class="about-title page-title">
												<span>Features</span>
											</div>
											<div class="group_about_inner group_layout_inner">
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Unlimited shortcodes</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-flag" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Awesome interface</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-desktop" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Revolution slider</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-picture-o" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Retina ready</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-cart-plus" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Woocommerce</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="feature-inner layout-inner  col-sm-6">
													<div class="feature-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-diamond" aria-hidden="true"></i>
														</div>
													</div>
													<div class="feature-caption layout_caption">
														<span class="title">Weekly updates</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="team-content">
											<div class="about-title page-title">
												<span>Meet our team</span>
											</div>
											<div class="group_about_inner group_layout_inner">
												<div class="team-inner col-sm-3">
													<div class="team-image">
														<img class="image" src="assets/images/about_member1.jpg" alt="">
														<div class="team-hover">
															<div class="dis_table">
																<div class="dis_tablecell">
																	<a href="index.html" title="Sarahmarket 1 on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="team-caption">
														<span class="name">Elizabeth Carpenter</span>
														<span class="position">
														Founder
														</span>
														<span class="description">
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
														</span>
													</div>
												</div>
												<div class="team-inner col-sm-3">
													<div class="team-image">
														<img class="image" src="assets/images/about_member2.jpg" alt="">
														<div class="team-hover">
															<div class="dis_table">
																<div class="dis_tablecell">
																	<a href="index.html" title="Sarahmarket 1 on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="team-caption">
														<span class="name">Henry Turner</span>
														<span class="position">
														Co - Founder
														</span>
														<span class="description">
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
														</span>
													</div>
												</div>
												<div class="team-inner col-sm-3">
													<div class="team-image">
														<img class="image" src="assets/images/about_member3.jpg" alt="">
														<div class="team-hover">
															<div class="dis_table">
																<div class="dis_tablecell">
																	<a href="index.html" title="Sarahmarket 1 on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="team-caption">
														<span class="name">Rebecca Soto</span>
														<span class="position">
														Designer
														</span>
														<span class="description">
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
														</span>
													</div>
												</div>
												<div class="team-inner col-sm-3">
													<div class="team-image">
														<img class="image" src="assets/images/about_member4.jpg" alt="">
														<div class="team-hover">
															<div class="dis_table">
																<div class="dis_tablecell">
																	<a href="index.html" title="Sarahmarket 1 on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
																	<a href="index.html" title="Sarahmarket 1 on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="team-caption">
														<span class="name">Albert Marshall</span>
														<span class="position">
														Art Director
														</span>
														<span class="description">
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
		{% endblock %}
