{% extends "website/layout.twig" %}
{% block title %} My Account {% endblock %}

{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title">My Account</h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
										<a href="">Home</a>
									    <span class="arrow-space">/</span>
										<a href="">My Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="account-content">
				<div class="account-content-wrapper">
					<div class="container">
												{% include "admin/elements/flash.twig" %}

							<div class="col-md-8">
                           
<div id="customer-addresses">
									<div id="address_tables">
										<div class="col-sm-6">
											<div class="address_table">
												<div id="view_address_3593573638" class="customer_address">
													<div class="group-title">
														<h4 class="address_title">
															Ung Van Khiem
															<span class="default_address note">Default</span>
														</h4>
														<p class="address_actions">
															<span class="action_link action_edit"><a href="#">Edit</a></span>
															<span class="action_link action_delete"><a href="#">Delete</a></span>
														</p>
													</div>
													<!--End group title-->
													<div class="view_address">
														<p class="cs-name">Jin Alkaid</p>
														<p class="cty"></p>
														<p class="cs-address">Ung Van Khiem Ho Chi Minh city, Vietnam 123</p>
														<p class="cs-phone"></p>
													</div>
												</div>
												
											</div>
										</div>
										
										
										<div class="col-sm-6">
											<div class="address_table">
												<div id="view_address_3593573638" class="customer_address">
													<div class="group-title">
														<h4 class="address_title">
															Ung Van Khiem
															
														</h4>
														<p class="address_actions">
															<span class="action_link action_edit"><a href="#">Edit</a></span>
															<span class="action_link action_delete"><a href="#">Delete</a></span>
														</p>
													</div>
													<!--End group title-->
													<div class="view_address">
														<p class="cs-name">Jin Alkaid</p>
														<p class="cty"></p>
														<p class="cs-address">Ung Van Khiem Ho Chi Minh city, Vietnam 123</p>
														<p class="cs-phone"></p>
													</div>
												</div>
												
											</div>
										</div>
										<!--END -->
										<div id="address_pagination"></div>
									</div>
								</div>
		
          
          
          
          
							</div>
							  {% include "website/elements/accountSidbar.twig" %}
						
					</div>
				</div>
			</section>
		</main>
	</div>

{% endblock %}