{% extends "website/layout.twig" %}
{% block title %} Login {% endblock %}


{% block content %}
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Login</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="index.html" title="Bridal 1" itemprop="url">
											<span itemprop="title">Home</span>
										</a>
									</span>
									<span class="arrow-space">></span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="login.html" title="Login" itemprop="url">
											<span itemprop="title">Login</span>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="login-content">
				<div class="login-content-wrapper">
					<div class="container">
						<div class="row">
							<div class="login-content-inner">
								<div id="customer-login">
									<div id="login" class="">
									{% include "admin/elements/flash.twig" %}
										<form action="{{path_for('login')}}" method="POST" >
											<input type="hidden" value="customer_login" name="validate">
											<label for="customer_email" class="label">Email</label>
											<input type="text" value="" name="user_login" class="text">
											<label for="customer_password" class="label">Password</label>
											<input type="password" value="" name="pass_login" class="text" size="16">
											<div class="action_bottom">
												<input class="btn" type="submit" value="Sign In">
												<a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
											</div>
										</form>
									</div>
									<div id="recover-password" style="display:none;" class="">
										<h2>Reset Password</h2>
								        <form action="{{path_for('login')}}" method="POST" >
											<input type="hidden" value="recover_customer_password" name="form_type">
											<input type="hidden" name="utf8" value="✓">
											<label class="label">Email</label>
											<input type="email" value="" size="30" name="email" id="recover-email" class="text">
											<div class="action_bottom">
												<input class="btn" type="submit" value="Submit"> or
												<span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
	

{% endblock %}	
