{% extends "website/layout.twig" %}
{% block title %} My Account {% endblock %}

{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title">My Account</h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
										<a href="">Home</a>
									    <span class="arrow-space">/</span>
										<a href="">My Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="account-content">
				<div class="account-content-wrapper">
					<div class="container">
												{% include "admin/elements/flash.twig" %}

							<div class="col-md-8">
                           <div id="customer_orders" >
										<table>
											<thead>
												<tr>
													<th class="order_number">Order N°</th>
													<th class="date">Date</th>
													<th class="payment_status">Payment Method</th>
													<th class="fulfillment_status">Date</th>
													<th class="total">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd ">
													<td class="td-name"><a href="order.html" title="">#1001</a></td>
													<td class="td-note"><span class="note">07 Jun 00:14</span></td>
													<td class="td-authorized"><span class="status_authorized">Authorized</span></td>
													<td class="td-unfulfilled"><span class="status_unfulfilled">Unfulfilled</span></td>
													<td class="td-total"><span class="total" style="font-family:'currencies'"><span class="money" data-currency-usd="$292.90">$292.90</span></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
         
         
          
         
         
         
          
          
          
          
							</div>
							  {% include "website/elements/accountSidbar.twig" %}
						
					</div>
				</div>
			</section>
		</main>
	</div>

{% endblock %}