{% extends "website/layout.twig" %}
{% block title %} My Account {% endblock %}

{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title">My Account</h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
										<a href="">Home</a>
									    <span class="arrow-space">/</span>
										<a href="">My Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="account-content">
				<div class="account-content-wrapper">
					<div class="container">
												{% include "admin/elements/flash.twig" %}

							<div class="col-md-8">
                           
                               <style>
                                form#RegisterForm {
    background-color: #fff;
    padding: 15px 15px 25px;
    width: 100%;
    float: left;
}


                                </style>
		<form method="post" action="{{path_for('website.password')}}" class="RegisterForm" id="RegisterForm">
         <div class="alert alert-danger registerjs" style="display:none;"></div>
            <input type="hidden" name="user_id" value="3">
            <div class="content">
             
       
             
              <ul class="form-list">
                <div class='form-group'>
                  <label>Old Password  </label>
                
                <input type="text" class="form-control" name="password">
                </div>
                
                 <div class='form-group'>
                  <label for="email">New Password</label>
              
                  <input type="password" class="form-control"  name="newpassword">
                </div>
                

                <div class='form-group'>
                  <label>Repeat New Password</label>
                  
                  <input id='password' type="password" class="form-control" name="confirmPassword" >
                </div>

              









              </ul>
              <div class="buttons-set">
                <button type="submit" class="btn btn-primary button"><span>Save Updates</span></button>
              </div>
            </div>
          </form>
          
          
          
          
							</div>
							  {% include "website/elements/accountSidbar.twig" %}
						
					</div>
				</div>
			</section>
		</main>
	</div>

{% endblock %}