{% extends "website/layout.twig" %}
{% block title %} Login {% endblock %}


{% block content %}
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Reset Password</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="index.html" title="Bridal 1" itemprop="url">
											<span itemprop="title">Home</span>
										</a>
									</span>
									<span class="arrow-space">></span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="login.html" title="Login" itemprop="url">
											<span itemprop="title">Login</span>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="login-content">
				<div class="login-content-wrapper">
					<div class="container">
						<div class="row">
							<div class="login-content-inner">
								<div id="customer-login">
									{% include "admin/elements/flash.twig" %}
									<div id="recover-password">
										<h2>Reset Password</h2>
								        <form action="{{path_for('website.resetpassword')}}" method="POST" id="ResetPasswordForm" >
											<label class="label">New Password</label>
											<input type="password" name="password" id="recover-email" class="text">
											<label class="label">Repeat New Password</label>
											<input type="password" name="confirmPassword" id="recover-email" class="text">
											<div class="action_bottom">
												<input class="btn" type="submit" value="Reset The Password" /> 
											    <input type="hidden" value="{{reset_token}}{{old.reset_token}}" name="reset_token" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>			
		</main>
	</div>
{% endblock %}	
