{% extends "website/layout.twig" %}
{% block title %} Services {% endblock %}


{% block content %}
	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Services</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="index.html" title="Sarahmarket 1" itemprop="url"><span itemprop="title">Home</span></a>
									</span>
									<span class="arrow-space">/</span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="services.html" title="Services" itemprop="url"><span itemprop="title">Services</span></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="shopify-section-services-template" class="shopify-section">
				<section class="page-content">
					<div class="page-wrapper">
						<div class="container">
							<div class="row">
								<div class="page-inner">
									<div class="service-content layout_content">
										<div class="our-content">
											<div class="service-title page-title">
												<span>Our Services</span>
											</div>
											<div class="group_layout_inner">
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Unlimited shortcodes</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-flag" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Awesome interface</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-desktop" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Revolution slider</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-picture-o" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Retina ready</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-cart-plus" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Woocommerce</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>
												<div class="our-inner layout-inner col-sm-6">
													<div class="our-icon layout-icon">
														<div class="group_icon">
															<i class="fa fa-diamond" aria-hidden="true"></i>
														</div>
													</div>
													<div class="our-caption layout_caption">
														<span class="title">Weekly updates</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
													</div>
												</div>

											</div>
										</div>
										<div class="more-content">
											<div class="service-title page-title">
												<span>More Services</span>
											</div>
											<div class="group_layout_inner">
												<div class="more-inner col-sm-3">
													<div class="more-image">
														<img src="assets/images/service_more1.jpg" alt="">
													</div>
													<div class="more-caption">
														<span class="title">Incredibly Responsive</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
														<a class="btn" href="#">Read more</a>
													</div>
												</div>
												<div class="more-inner col-sm-3">
													<div class="more-image">
														<img src="assets/images/service_more2.jpg" alt="">
													</div>
													<div class="more-caption">
														<span class="title">Unlimited Colors</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
														<a class="btn" href="#">Read more</a>
													</div>
												</div>
												<div class="more-inner col-sm-3">
													<div class="more-image">
														<img src="assets/images/service_more3.jpg" alt="">
													</div>
													<div class="more-caption">
														<span class="title">Superior Typography</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
														<a class="btn" href="#">Read more</a>
													</div>
												</div>
												<div class="more-inner col-sm-3">
													<div class="more-image">
														<img src="assets/images/service_more4.jpg" alt="">
													</div>
													<div class="more-caption">
														<span class="title">24/7 support online</span>
														<span class="content">
														Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
														</span>
														<a class="btn" href="#">Read more</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="special-content">
							<div class="special-inner">
								<div class="special-image">
									<img src="assets/images/service_special.jpg" alt="">
								</div>
								<div class="special-caption">
									<div class="dis_table">
										<div class="dis_tablecell">
											<div class="container">
												<div class="special-caption-inner">
													<span class="title">Special services</span>
													<span class="content">
													Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
													</span>
													<a class="btn" href="services.html">Read more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	</div>
{% endblock %}