
<style>
    *{
        margin: 0;
        padding: 0;
    }
    img.tania {
    right: 0;
    position: absolute;
}


    body{
        background: #ECEDEF;
    }
    h1 {
    text-align: center;
}
    body {
    background: #ECEDEF;
    
    position: relative;
}
</style>


<body>
    

<img src="https://dt62lkhz49bkt.cloudfront.net/master/img/top-left-xl.784b8db24202abffa2a7dafdc5cb3c98.png"  class="lwla" alt="">
<img src="https://dt62lkhz49bkt.cloudfront.net/master/img/bottom-right-md@2x.9a480d3553053033267ace465c9b317a.png"  class="tania" alt="">
<h1 style='position: relative;z-index: 5454554545;'>
    الموقع في حالة صيانة
</h1>
<h1 style='position: relative;z-index: 5454554545;'>سنعود قريباً ، انتظرونا</h1>
</body>